$base: #f938ab

=box-shadow($style, $c)
  box-shadow: $style $c

=box-shadow-alpha($style, $alpha: 50%))
  +box-shadow($style, rgba(0, 0, 0, $alpha))

.box
  color: saturate($base, 5%)
  border-color: lighten($base, 30%)

  div
    +box-shadow(0 0 5px, 30%)

  transform: translateX(10px)


.awesome-list
  display: inline-block
  transform: translateX(20px) translateY(100px)
  box-sizing: border-box
  padding: 20px
  width: 400px
  background: #eee
  border-radius: 4px
  color: #333
  font-family: verdana
  vertical-align: top

  li
    line-height: 25px
    color: rgba(0, 0, 0, .7)
