doctype html

title= content.title
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

link(rel='stylesheet', type='text/css', href='/css/main.css')

block 'content'

block 'footer'
  include vendorscripts

  //- For Debugging Purposes Only
  if __dev__
    script(type='text/javascript', src='/js/mock-server.js')


  //- Core Scripts
  script(type='text/javascript', src='/js/templates.js')
  script(type='text/javascript', src='/js/core.js')

  //- App Script
  script(type='text/javascript', src='/js/#{appScript}')

  //- LiveReloading
  if __dev__
    script(type='text/javascript', src='http://localhost:35729/livereload.js?snipver=1')
